@model CityViewModel
<div class="col-md-6 offset-md-3">
  <div class="card card-body bg-light">
    <form method="post" >
      <div asp-validation-summary="ModelOnly "> </div>

       <div class="form-group">
        <label asp-for="City">City</label>
        <input type="text" asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
       </div>

      <br />

      <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class='fas fa-envelope'></i> Get Forecast</button>
     </div>

    </form>
  </div>
  </div>

  <br />
  <br />
  <br />

  @if (ViewBag.Weathers != null)
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var weather in ViewBag.Weathers)
        {
          
                <div class="col">
                <div class="card border-success mb-3">
                            @*<img src="http://openweathermap.org/img/wn/10d@2x.png" class="card-img-top" alt=@weather.Title>*@
                    <div class="card-body">
                        <h5 class="card-title">@weather.Title</h5>
                                <p class="card-text">Current Temperature - @weather.Main.Temperature, Feels Like - @weather.Main.Percepita</p>
                        <p class="card-text"></p>
                        <p class="card-text">Max: @weather.Main.TempMax C, Min: @weather.Main.TempMin C, Humidity: @weather.Main.Humidity </p>
                        <p class="card-text">Wind speed: @weather.Wind.Speed km/h</p>
                        @foreach (var item in weather.Weather)
                        {
                            <p class="card-text"> @item.Description </p> 
                        }
                    </div>
                    <div class="card-footer" style="background-color:#000080;text-align:left;">
                        <small class="text-muted">Last updated less than 3 mins ago</small>
                    </div>
                </div>
            </div> 
     

        }
        </div>
    }